<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jiggy.askbindaas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AppAskBindaas"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegistrationActivity" />
        <activity android:name=".activity.ForgotPasswordActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.StudentRegistrationActivity" />
        <activity android:name=".activity.FacultyRegistrationActivity" />
        <activity android:name=".activity.HODRegistrationActivity" />
        <activity android:name=".activity.PrincipalRegistrationActivity" />
        <activity android:name=".activity.ChancellorRegistrationActivity" />
        <activity android:name=".activity.CompanyLoginActivity" />
        <activity android:name=".activity.RegisterCompanyActivity" />
        <activity android:name=".activity.DoubtsQuestionActivity" />
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.AddArticleActivity" />
        <activity android:name=".activity.AddDoubtActivity"></activity>
    </application>

</manifest>